html {
    margin: 0;
    min-height: 100%;
    background: linear-gradient(to left top, rgba(255, 0, 0, 0.750),  rgba(0, 0, 255, 0.500));
}


header {
    text-align: center;
    padding: 1px;
    text-decoration: underline solid rgb(48, 62, 190);
}

#options {
    font-size: larger;
    position: relative;
    left: 120px;
} 
label {
    transition-duration: 00.4s;
}

label:hover {
    text-decoration: underline solid rgb(48, 62, 190);
    cursor: pointer;
    font-size: x-large;
}

#button {
    text-align: center;
}

button {
    padding: 2px;
    font-size: medium;
    transition-duration: 0.4s;
    border-radius: 12px;
    background-color: transparent;
    padding: 5px;
}

button:hover {
    background-color: rgb(48, 62, 190);
    color: white;
    cursor: pointer;
    font-size: large;
}

footer {
    min-height: 75px;
    height: auto;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 12px;
}
p {
    margin-left: 10px;
}